form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
    display: flex;
    flex-direction: column;

    .login-container {
        padding: 15px;

        &>* {
            margin-top: 5px;
            display: block;
        }
    }
}