<form [formGroup]="form" (submit)="loginSubmitHandler()">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Angular Cards</mat-card-title>
            <mat-card-subtitle>Login</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="login-container">
            <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email" autofocus>
            </mat-form-field>
            <ac-password-input placeholder="Enter your password" formControlName="password">
            </ac-password-input>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button type="submit">Login</button>
            <a href="javascript:void(0)" mat-button [routerLink]="['/auth/register']">Register</a>
        </mat-card-actions>
    </mat-card>
</form>